<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <catalog>
            <groups>
                <billetdiscount translate="label">
                    <label>Desconto no Boleto</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <ruleid>
                            <label>Id da Regra</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ruleid>
                    </fields>
                </billetdiscount>
            </groups>
        </catalog>
    </sections>
</config>